.policy-list {
  display: flex;
  justify-content: space-between;
}
.policy-item {
  display: flex;
  gap: 10px;
}
.policy-item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-img {
  margin: 30px 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.footer-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.footer-title {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 100;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-title h3 {
  font-size: 30px;
  font-weight: 500;
}
.footer-title span {
  font-size: 20px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.footer-logo img {
  width: 70%;
  height: fit-content;
  object-fit: contain;
}
.footer-logo-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-logo-content h3 {
  font-weight: 500;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-contact-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-contact-links-item {
  color: #848484;
  display: flex;
  gap: 10px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-social-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.social-icon-list {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-social-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-social-links {
  color: #848484;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.footer-contact-title {
  font-weight: 500;
}
.footer-social-title {
  font-weight: 500;
}
.footer-copyright {
  color: #848484;
  font-size: 12px;
  margin: 20px 0;
}
@media screen and (max-width: 768px) {
  .policy-list {
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .policy-item {
    display: flex;
    flex-direction: column;
  }
  .footer-img {
    width: 100%;
    height: 150px;
  }
  .footer-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .footer-title h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .footer-title span {
    font-size: 16px;
  }
  .footer-bottom {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
  .footer-logo {
    width: 40%;
    align-items: start;
  }
  .footer-logo-content span {
    font-size: 12px;
  }
  .footer-contact {
    width: 50%;
  }
  .footer-contact-links-item {
    font-size: 14px;
    align-items: center;
    color: #848484;
  }
  .footer-contact-links-item img {
    width: 15px;
    height: 15px;
  }
  .footer-social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-social-links .footer-social-link {
    font-size: 14px;
  }
  .social-icon-list img {
    width: 16px;
    height: 16px;
  }
  .footer-social-title {
    font-size: 12px;
  }
  .footer-contact-title {
    font-size: 12px;
  }
}
